$text-color-1: #1F2C3A;
$text-color-2: #3C4D5F;
$light-purple: #B8B8B8;
$border-color: #DDE0E7;
$icon-color: #D3D3E3;
$green: #01BD70;
$blue :#5BA6FF;

$radius: 6px;

$transition: 0.3s ease;

$font-family-1: 'Poppins', sans-serif;
$font-family-2: 'Poppins-Semibold', sans-serif;
$font-family-3: 'Poppins-Bold', sans-serif;
